.container-fluid.bg-gradient-danger
  h1.text-center.text-white.ubuntu.display-3 contact page
  p.text-center.text-white.ubuntu Esta fonte esta sendo enxergada apenas por essa página contato.
  img(src=require('../../images/image-02.jpg')).d-block.mx-auto.img-fluid
  .col-12.d-flex.justify-content-center
    a(href='./index.html', tabindex='-1', role='button', aria-disabled='false').btn.btn-success.btn-lg.ubuntu Index Page