.container-fluid.bg-gradient-danger
  h1.text-center.text-white.ubuntu.display-3 contact page
  p.text-center.text-white.ubuntu Esta fonte esta sendo enxergada apenas por essa página contato.
  img(src=require('../../images/image-02.jpg')).d-block.mx-auto.img-fluid
  a(href='./index.html').link.btn.btn-lg.bg-warning.ubuntu index