.container-fluid.bg-gradient-danger
  h1.text-center.text-white.hello New Webpack Started Project
  img(src=require('../../images/image-01.jpg')).d-block.mx-auto.img-fluid
  h1.text-center.text-white.nunito Hot Loaded Ready
  img(src=require('../../images/image-01.jpg')).d-block.mx-auto.img-fluid
  h1.text-center.text-white.nunito Webpack 4 Ready
  a(href='./contact.html').link.btn.btn-lg.bg-warning.fira-sans Contact Page
.container-fluid.bg-gradient-success
  .col-md-12.m-0.p-0
    .row.no-gutters
      .col-md-12
        h2.text-center.text-white.hello customize fonts
      .col-md-12.mb-4.d-sm-flex.justify-content-center          
        .row
          .col-md-12
            i.icon-radio
            span.text-white.fira-sans icon web
            p.text-white.nunito.paragraph-text esse icone esta sendo enxergue por todas as páginas.
          .col-md-12
            i.icon-web
            span.text-white.fira-sans icon web
            p.text-white.nunito esse icone esta sendo enxergue por todas as páginas.
    .row.no-gutters
      .col-md-12
        h2.text-center.text-white.nunito fonts from font-awesome 4.7
        h2.fa.fa-home.d-block.text-center
          span.text-white.fira-sans Home
        p.text-white.nunito.text-center Esse icone faz parte do font-awesome.