nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Home
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Dropdown
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='#') Action
            li
              a.dropdown-item(href='#') Another action
            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='#') Something else here
        li.nav-item
          a.nav-link.disabled Disabled
      form.d-flex
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Search
.container-fluid.bg-danger.bg-gradient
  #carouselExampleSlidesOnly.carousel.slide(data-bs-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src=require('../../images/image-01.jpg') alt='image-01')
      .carousel-item
        img.d-block.w-100(src=require('../../images/image-01.jpg') alt='image-02')
      .carousel-item
        img.d-block.w-100(src=require('../../images/image-01.jpg') alt='image-03')
.container-fluid.bg-primary
  .row.g-0
    .col-md-12.m-0.p-0
      h1.text-center.text-white.ubuntu customize fonts
  .row.g-0
    .col-md-12.m-0.p-0
      h1.text-center.text-white fonts from font-awesome 4.7
      h2.fa.fa-home.d-block.text-center
        span.text-white Home
      p.text-white.text-center Esse icone faz parte do font-awesome.
  .row.g-0
    .col-md-12.m-0.p-0
      h1.text-center.text-white.ubuntu fonts from custom fonts
  .row.g-0
    .col-md-12.m-0.p-0.d-flex.justify-content-center
      i.icon-web
      span.text-white icon web
  .row.g-0
    .col-md-12.m-0.p-0.d-flex.justify-content-center
      p.text-white icons is ready to work in all pages
  .row.g-0
    .col-md-12.m-0.p-0.d-flex.justify-content-center
      i.icon-radio
      span.text-white icon web
  .row.g-0
    .col-md-12.m-0.p-0.d-flex.justify-content-center
      p.text-white icon is ready to work in all pages
  .row.g-0
    .col-md-12.m-0.p-0.d-flex.justify-content-center
      a(href='./contact.html', tabindex='-1', role='button', aria-disabled='false').btn.btn-success.btn-lg.ubuntu Contact Page
