// place here your new fonts

@font-face {
  font-family: 'ubuntu';
  src: url('../../fonts/ubuntu-title-fr-1.1.ttf') format('truetype'),
    url('../../fonts/Ubuntu-Title.ttf') format('truetype');
}

@font-face {
  font-family: 'Architects Daughter';
  src: url('../../fonts/ArchitectsDaughter-Regular.ttf') format('truetype')
}
